.header{
    height: 300px;
    width: 100%;
}
.imgone{
    height: 630px;
    width: 100%;
}
.imgtwo{
    height: 80px;
    width: 10%;
    margin-bottom: 20px;
}
.imgthree{
    height: 720px;
    width: 70%; 
}
.header{
    display: flex;
    margin-top: -43%;
}
.para{
    font-size: 30px;
    font-weight: 700;
    margin-left: 3%;
    margin-top: 100%;
}
.para2{
    font-size: 20px;
    font-weight: 500;
    margin-left: 3%;

}
.btn{
    background-color: #2d66f5;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    width: fit-content;
    margin-left: 3%;
    margin-top: 0;
}
.arrowimg{
    height: 100px;
    width: 10%;
    margin-left: 7%;
}

.footer{
    height: 500px;
    width: 100%;
    background-image: url("https://voosh.in/static/media/book_now_bg.e9f9294653918137cd78.webp");
    background-repeat: no-repeat;
    background-size: cover;
 

}

.upper{
    height: 150vh;
}

.register{
    height: 250px;
    width: 30%;
    border-radius: 15px;
    background-color: rgb(137, 128, 128);
    justify-content: center;
    text-align: center;
    margin-top: 65px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
     padding-top: 42px;
}
.swigyimg{
    height: 80px;
    width: 6%;
    margin-left: 18%;
    margin-top: 10%;
}
.zomatoimg{
    height: 80px;
    width: 6%;
    margin-left: 33%;
    margin-bottom: 7%; 
}
.amazomimg{
    height: 80px;
    width: 6%;
    margin-left: 23%;
    /* margin-bottom: 7%;  */
    margin-top:-4%;
}

